.ant-table-tbody>tr>td {
  border-spacing: 9px;
  transition: background .3s;
}


.table-cell{
  border-right: 1px solid #CED1D4
  ;
}



.ant-modal-footer {
  padding: 10px 16px;
  text-align: left;
  background: transparent;
  border-radius: 0 0 2px 2px;
}
