.modal-header{
    display: flex;
  }
  .modal-title{
    margin-left: 20px;
    margin-top: -8px;
  }
  
  .modal-title>h2{
    margin-bottom: 0 ;
  }
  
  .modal-body-1{
    margin: 3rem 2rem 0rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .modal-body-2{
    margin: 3rem 2rem 0rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .modal-footer{
      align-items: left;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  
  .modal-addres{
      font-size: 23px;
      letter-spacing: 1px;
      line-height: 24px;
  }